<!--Ceci est un projet scolaire pour mettre en place une base de données pour les projets de location de voitures-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>projet SI-équipe</title>
    <link rel="stylesheet" href="static/css/team.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>

<body>
    <div class="title">
        <h1>Notre Équipe</h1>
        <p>Nos membres s’impliquent corps et âme dans ce qui les passionne le plus : la performance. <br> Notre équipe valorise le respect mutuel et les relations durables, et nous espérons que vous partagez notre vision. <br> nous sommes fiers de vous présenter notre famille d'étudiants travaillant sur ce projet!</p>
    </div>

    <div class="team-row">
        
        <div class="profile notmine">
            <h4>HALLOU<br>ABDELLAH</h4>
            <img src="static/images/profile.png" alt="ABDELLAH">
            <div class="social">
                <a href="mailto: abdeallahhallou33@gmail.com?subject= Projet de stage d'initiation" target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="https://www.instagram.com/abdo_hll/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/abdellah-hallou-176710143" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>"La vie non examinée ne vaut pas la peine d'être vécue."</p>
        </div>

        <div class="profile notmine">
            <h4>GOUHI<br>HAYAT</h4>
            <img src="static/images/profile.png" alt="HAYAT">
            <div class="social">
                <a href="mailto: gouhihayat4@gmail.com?subject= Projet de stage d'initiation" target="_blank"><i class="fa fa-envelope"></i></a>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
            </div>
            <p>"C'est à force de forger qu'on devient forgeron."</p>
        </div>

        <div class="profile">
            <h4>AIT<br>BOURHIM<br>HAMZA</h4>
            <img src="static/images/profile.png" alt="HAMZA">
            <div class="social">
                <a href="mailto: hmzabourhim@gmail.com?subject= Projet de stage d'initiation" target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="https://www.instagram.com/hamzaaitbourhim/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href=" https://www.linkedin.com/in/hamzaaitbourhim/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>"Faites-le fonctionner, faites-le bien, faites-le vite."</p>
        </div>

        <div class="profile notmine">
            <h4>LECHGAR<br>TAHA</h4>
            <img src="static/images/profile.png" alt="TAHA">
            <div class="social">
                <a href="mailto: tahamr08@gmail.com?subject= Projet de stage d'initiation" target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="https://www.instagram.com/taha.lechgar/" target="_blank"><i class="fa fa-instagram"></i></a>
                <i class="fa fa-linkedin"></i>
            </div>
            <p>"Je préfère faire des erreurs que de ne rien faire du tout."</p>
        </div>
    </div>

</body>

</html>